#Exports:
export("plot.BayesPGLS", "PrepRegrData", "print.BayesPGLS", "print.potInflObs", "RunBayesPGLS", "RunBayesPGLS.default", "summary.BayesPGLS", "summary.potInflObs")

#Imports:
import(snowfall)
import(mvtnorm)
import(caper)
import(phytools)

#S3 methods:
S3method("plot", "BayesPGLS")
S3method("print", "BayesPGLS")
S3method("print", "potInflObs")
S3method("RunBayesPGLS", "default")
S3method("summary", "BayesPGLS")
S3method("summary", "potInflObs")
